<!-- <div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="listdonations">List</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<div class="container">
  <nav class="navbar">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="listdonations">List</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>




<!-- <li routerLinkActive="active">
            <a routerLink="create">Create</a>
          </li> -->

